@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700&display=swap");

@font-face {
  font-family: ibmplexserif-bold;
  src: url('font/IBMPlexSerif-Bold.ttf');
}
@font-face {
  font-family: ibmplexserif-bold-italic;
  src: url('font/IBMPlexSerif-BoldItalic.ttf');
}
@font-face {
  font-family: firasanscondensed-bold;
  src: url('font/FiraSansCondensed-Bold.ttf');
}

@font-face {
  font-family: firasanscondensed-regular;
  src: url('font/FiraSansCondensed-Regular.ttf');
}

@font-face {
  font-family: firasanscondensed-semibold;
  src: url('font/FiraSansCondensed-SemiBold.ttf');
}
@font-face {
  font-family: originalsurfer-regular;
  src: url('font/OriginalSurfer-Regular.ttf');
}

.navbar {
  overflow: hidden;
  background-color: lightblue;
  position: fixed;
  top: 0;
  width: 100%;
  border-style: solid;
  border: 10px red;
  transform: translateY(-10%);
  border-bottom-right-radius: 75%;
  border-bottom-left-radius: 25%;;
  animation:  1.5s ease-out 0s 1 navbar_down;
}

.navbar_contents{
  font-family: firasanscondensed-semibold;
}

/*https://stackoverflow.com/questions/6805482/css3-transition-animation-on-load*/
@keyframes navbar_down {
  0% {
    background-color: rgb(66, 154, 184);
    transform: translatey(-100%);
  }
  50% {
    transform: translatey(0%);
  }
  100% {
    transform: translatey(-10%);
    background-color:lightblue;
  }
}

.title {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    color: black;
  }

.title_head {
  text-decoration: underline;
  font-family: originalsurfer-regular;
}

.title_blurb {
  font-family: firasanscondensed-regular;
}

@keyframes titleDown {
  0% {
    color: lightblue;
    transform: translatey(-100%);
  }

  75% {
    transform: translatey(10%);
    color: lightblue;
  }

  100% {
    transform: translatey(0%);
    color: black;
  }
}

body {
  background: url(image/Sand_Test.png);
  overflow-y: scroll;
  margin: 0;
  position: relative;
}

.plugin_section_blurb{
  font-family: firasanscondensed-bold;
  text-align: center;
}

.demo_video {
  border: 0px;
  width: 560px;
  height: 315px;
}

.plugins_table{
  border-collapse: collapse;
}

.plugins_table th{
  background: lightgray;
  border: 2px solid black;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  }

    nav ul {
      display: flex;
      list-style: none;
      align-items: center;
      gap: 1rem;
      flex-wrap: wrap;
      font-family: ibmplexserif-bold;
    }

    a:hover {
      animation: linkflash 1s infinite;
    }
    #navbar {
      position:fixed;
      top: 0;
    }

    #name_header {
      background: rgb(82, 255, 255);
      width: 20%;
      font-family: firasanscondensed-bold;
    }

    #description_header {
      background: rgb(208, 147, 94);
      width: 60%;
      font-family: firasanscondensed-bold;
    }

    #examples_header {
      background: rgb(118, 118, 118);
      width: 20%;
      font-family: firasanscondensed-bold;
    }

    .plugins_table {
      background-color: #e495e4;
    }

    .plugins_table {
      font-family: firasanscondensed-regular;
    }

    a {
      color: darkblue;
    }
    a:link {
      text-decoration: none;
    }

#table_description {
  text-align: center;
  font-family: firasanscondensed-bold;
}

@keyframes fadein {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes linkflash {
  0% {
    color:darkblue;
  }

  50%{
    color:yellow;
  }

  100% {
    color: darkblue;
  }
}